<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <table>
        <tr>
            <td>
                Jumlah Produk: {{jumlahproduk}}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'dataproduk' %}">
                    <button>
                        PRODUK
                    </button>
                </a> 
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'datakaryawan' %}">
                    <button>
                        KARYAWAN
                    </button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'datapembelian' %}">
                    <button>
                        PEMBELIAN
                    </button>
                </a>  
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'datapenjualan' %}">
                    <button>
                        PENJUALAN
                    </button>
                </a>
            </td>
        </tr>

    </table>
</body>
</html>