<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karyawan</title>
</head>
<body>
    <h1>Karyawan</h1>
    <table>
        <tr>
            <th>Nama Karyawan</th>
            <th>Kontak Karyawan</th>
            <th>Jobdesk</th>
            <th>Action</th>
        </tr>
        {% for item in allkaryawanobj %}
        <tr>
            <td>{{ item.namakaryawan }}</td>
            <td>{{ item.kontakkaryawan }}</td>
            <td>{{ item.jobdesk }}</td>
            <td>
                <a href="{% url 'updatekaryawan' item.idkaryawan %}">
                    <button>Update</button>
                </a>
                <a href="{% url 'deletekaryawan' item.idkaryawan %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'createkaryawan' %}">
        <button>
            CREATEDATA KARYAWAN
        </button>
    
</body>
</html>